<div class="user-details">
  <h1> ABOUT </h1>
  <p> {{site.user_description}} </p>
</div>
<!--   <div class="user">
    <div class="tech">
      <h2>Interest</h2>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Interest</h2>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Interest</h2>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p></p>
    </div>
</div> -->