<nav class="floating-menu">
    <div class="header-icons">
        <a aria-label="Home" href="/#" ><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
        <a aria-label="Search" href="/#searchlist"><i class="icon fa fa-search" aria-hidden="true"></i></a>
        <a aria-label="Linkedin" target="_blank" href="#"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="#"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a aria-label="Docker" target="_blank" href="#"><i class="icon fab fa-docker" aria-hidden="true"></i></a>
      </div>
  </nav>