<nav class="floating-menu">
    <div class="header-icons">
        <a aria-label="Home" href="/#" ><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
        <a aria-label="Search" href="/#searchlist"><i class="icon fa fa-search" aria-hidden="true"></i></a>
        <a aria-label="Linkedin" target="_blank" href="https://www.linkedin.com/company/18610229"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/public-vrock"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a aria-label="Docker" target="_blank" href="https://hub.docker.com/u/publicvrock/"><i class="icon fab fa-docker" aria-hidden="true"></i></a>
      </div>
  </nav>