#posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  min-height: 900px;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}