#tagpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  max-width: 960px;
  min-height: 800px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user-tagpage {
  margin: 20px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    color: $main;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
  }
}