@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";
@import "lib/fa-solid.scss";
@import "lib/fa-brands.scss";
@import "lib/syntax-highlighting";
@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'search';
@import 'tags';
@import 'about';
@import 'posts';
@import 'tagpage';
@import 'navigation';
@import 'projects';
@import 'footer';
