<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include navigation.html %}
  
  <body>
      
      <section id="posts">
      <h2>{{page.title}}</h2>
      <h5>{{page.date}}</h5>
      
        <!-- This loops through the paginated posts -->
        {{content}}
        
        <span>[
            {% for tag in page.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
            {% endfor %}
          ]</span>
      </section>
      {% include footer.html %}
      
  </body>
